apiVersion: batch/v1
kind: Job
metadata:
  name: {{ instance_name }}-init
  labels:
    app.kubernetes.io/name: arkctl
    app.kubernetes.io/instance: {{ instance_name }}
    app.kubernetes.io/version: {{ operator_version | replace("+", "-") }}
    app.kubernetes.io/component: init-job
    app.kubernetes.io/part-of: ark-operator
    app.kubernetes.io/managed-by: ark-operator
spec:
  backoffLimit: {{ retries }}
  template:
    spec:
      restartPolicy: Never
      {% if node_selector %}
      nodeSelector: {{ node_selector }}
      {% endif %}
      {% if tolerations %}
      tolerations: {{ tolerations }}
      {% endif %}
      containers:
        - name: job
          image: ghcr.io/angellusmortis/ark-server:{{ image_version }}
          imagePullPolicy: {% if image_version == "master" %}Always{% else %}IfNotPresent{% endif %}
          command: ['arkctl', 'cluster', 'init-volumes', '/mnt']
          volumeMounts:
            - name: data
              mountPath: /mnt/data
            - name: server-a
              mountPath: /mnt/server-a
            - name: server-b
              mountPath: /mnt/server-b
          env:
          {% if dry_run %}
            - name: ARK_OP_DRY_RUN
              value: "true"
          {% endif %}
            - name: ARK_CLUSTER_NAME
              value: '{{ instance_name }}'
            - name: ARK_CLUSTER_NAMESPACE
              value: '{{ namespace }}'
            - name: ARK_CLUSTER_SPEC
              value: '{{ spec_json }}'
            - name: ARK_CLUSTER_STATUS
              value: '{{ status_json }}'
            - name: ARK_SERVER_HOST
              value: "127.0.0.1"
            - name: ARK_SERVER_RCON_PASSWORD
              value: "notactuallythepassword"
          securityContext:
            runAsUser: {{ uid }}
            runAsGroup: {{ gid }}
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            seccompProfile:
              type: "RuntimeDefault"
            capabilities:
              drop: ["ALL"]
      initContainers:
        - name: init-perms
          image: debian:12.8-slim
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', 'chown -R {{ uid }}:{{ gid }} /mnt/data /mnt/server-a /mnt/server-b']
          volumeMounts:
            - name: data
              mountPath: /mnt/data
            - name: server-a
              mountPath: /mnt/server-a
            - name: server-b
              mountPath: /mnt/server-b
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ instance_name }}-data
        - name: server-a
          persistentVolumeClaim:
            claimName: {{ instance_name }}-server-a
        - name: server-b
          persistentVolumeClaim:
            claimName: {{ instance_name }}-server-b
