apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ name }}
spec:
{% if storage_class %}
  storageClassName: {{ storage_class }}
{% endif %}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ size }}
