apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ instance_name }}-{{ name }}
  labels:
    app.kubernetes.io/name: ark-operator
    app.kubernetes.io/component: {{ name }}
    app.kubernetes.io/part-of: {{ instance_name }}
spec:
{% if storage_class %}
  storageClassName: {{ storage_class }}
{% endif %}
  accessModes:
    - {{ access_mode }}
  resources:
    requests:
      storage: {{ size }}
