apiVersion: v1
kind: Secret
metadata:
  name: {{ instance_name }}-cluster-secrets
  labels:
    app.kubernetes.io/name: secrets
    app.kubernetes.io/instance: {{ instance_name }}
    app.kubernetes.io/version: {{ operator_version | replace("+", "-") }}
    app.kubernetes.io/component: secrets
    app.kubernetes.io/part-of: ark-operator
    app.kubernetes.io/managed-by: ark-operator
type: Opaque
data:
  ARK_SERVER_RCON_PASSWORD: {{ rcon_password }}
