apiVersion: v1
kind: Service
metadata:
  name: {{ instance_name }}-rcon
  labels:
    app.kubernetes.io/name: rcon
    app.kubernetes.io/instance: {{ instance_name }}
    app.kubernetes.io/version: {{ operator_version | replace("+", "-") }}
    app.kubernetes.io/component: service
    app.kubernetes.io/part-of: ark-operator
    app.kubernetes.io/managed-by: ark-operator
  {% if annotations %}
  tolerations: {{ annotations }}
  {% endif %}
spec:
  {% if load_balancer_ip %}
  loadBalancerIP: {{ load_balancer_ip }}
  {% endif %}
  selector:
    app.kubernetes.io/instance: {{ instance_name }}
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: ark-operator
  ports:
    {% for slug, port in ports %}
    - name: {{ slug }}
      port: {{ port }}
      targetPort: {{ slug }}
      protocol: TCP
    {% endfor %}
  externalTrafficPolicy: Local
  type: LoadBalancer
